__pycache__
.qt_for_python
/.idea
/build
/Models
/output
/romfs
/Resources/Dev Resources
/Resources/__Combined.bntx
/Resources/textures/chest/bfres
/Tools/lvb.py
/Tools/text_tools.py
/Test
tests.py
settings.txt
log.txt