__pycache__
.qt_for_python
/build
/dist
/issues.txt
/Links Awakening Randomizer.spec
/Models
/output
/romfs
/room_data_viewer.py
/practice_file.py
/raining.py
/heart_memories.py
/dampe_tests.py
/text_tests.py
/challenges.py
/event_data_viewer.py
/settings.yaml
/Resources/Dev Resources
/Test